{% extends "gamequest/base.html" %}

{% block content %}

Don't see the game you want listed? 
<a href="{% url 'create_game' %}?from_contest={{from_contest}}&from_list={{from_list}}">
    Create New Game
</a>
<form method="post" action="{% url 'add_achievement' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="from_contest" value="{{from_contest}}">
    <input type="hidden" name="from_list" value="{{from_list}}">
    <input type="submit" value="Submit">
</form>
<a href="{% url 'edit_achievement_list_add' contest_id=from_contest achievement_list_id=from_list %}">Cancel</a>

{% endblock %}
