
{% extends "gamequest/base.html" %}

{% block content %}
<p>
   <b>Name:</b> {{ contest.name }}
</p>
 <p>
   <b>Description:</b> {{ contest.description }}
</p>
<p>
    <b>Recent Unlocks:</b>
    <ol>    
    {% for unlock in recent_unlocks %}
	<li>{{ unlock }} at {{ unlock.timestamp }}</li>
    {% endfor %}
    </ol>
</p>

<p>
    <b>Participants:</b>
    <a href="{% url 'contest_participant_list' contest_id=contest.id %}">Full Participant List</a>
</p> 
<p>
    <b>Achievement Lists:</b>
    <a href="{% url 'contest_achievement_list_viewall' contest_id=contest.id %}">All Achievement Lists</a>

</p>
{% endblock %}
