{% extends "gamequest/base.html" %}

{% block content %}
<p>
{% if form.errors %}
<p class="error">There was an error with your submission</p>
{% endif %}
{% if create %}
<form method="post" action="{% url 'create_achievement_list' contest.id %}">
{% else %}
<form method="post" action="{% url 'edit_achievement_list' contest.id achievement_list.id %}">
{% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% if not create %}
<a href="{% url 'edit_achievement_list_add' contest_id=contest.id achievement_list_id=achievement_list.id %}">Add Achievement</a>
<ul>
    {% for achievement in achievement_list.achievements.all %}
    <li>
        {{ achievement }}
        <a href="{% url 'edit_achievement_list_remove' contest_id=contest.id achievement_list_id=achievement_list.id achievement_id=achievement.id %}">
            (remove)
        </a>
    {% endfor %}
</ul>

</p>
{% endif %}
{% endblock %}
