{% extends "gamequest/base.html" %}

{% block content %}
<p>
    <b>{{ user.username }}'s profile page</b>
</p>
{% if upcoming or active or archive %}
<p>
    <b>User Contests:</b>
    {% if upcoming %}
	<p>
	    <b>Upcoming</b>
	    <ul>
	    {% for contest in upcoming %}
		<li><a href="{% url 'contest_participant' contest_id=contest.id requested_username=user.username %}">{{contest.name}}</a></li>
	    {% endfor %}
	    </ul>
	</p>
    {% endif %}
    {% if active %}
	<p>
	    <b>Active</b>
	    <ul>
	    {% for contest in active %}
		<li><a href="{% url 'contest_participant' contest_id=contest.id requested_username=user.username %}">{{contest.name}}</a></li>
	    {% endfor %}
	    </ul>
	</p>
    {% endif %}
    {% if archive %}
	<p>
	    <b>Archive</b>
	    <ul>
	    {% for contest in archive %}
		<li><a href="{% url 'contest_participant' contest_id=contest.id requested_username=user.username %}">{{contest.name}}</a></li>
	    {% endfor %}
	    </ul>
	</p>
    {% endif %}

{% else %}
<p>
    User has not participated in any contests
</p>
{% endif %}
{% endblock %}
