{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{% static "gamequest/gq_styles.css" %}" rel="stylesheet" type="text/css">
    <title>{% block title %}Game Quest {% endblock %} </title>
</head>
<body>
<div id="top_heading">
    {% block top_heading %}
    <h1>Game Quest</h1>
    <br>
    <hr>
    <div id="menu_bar">
        {% block menu_bar %}
        <a href="{% url 'index' %}">Home</a>
        {% endblock %}
        </div>
    <div id="user">
        {% if user.is_authenticated %}
        <a href="{% url 'user_profile' user.username %}">{{user.username}}</a>
        <a href="{% url 'logout' %}">(logout)</a>
        {% else %}
        You are not logged in. <a href="{% url 'login' %}">Login.</a>
        {% endif %}
    </div>
    <hr>
    {% endblock %}
</div>
<div id="content">
    {% block content %}
    Content will go here!
    {% endblock %}
</div>

</body>
</html>
