{% extends "gamequest/base.html" %}

{% block content %}
<p>
    <b><a href="{% url 'user_profile' participant.username %}">{{ participant.username }}'s</a> profile for 
    <a href="{% url 'contest' contest.id %}">{{ contest.name }}</a></b>
</p>
<p>
    <b>Completed Achievements:</b>
    <ul>
    {% for unlock in unlocks %}
	<li>{{unlock.achievement.name}} in <a href="{% url 'game' unlock.achievement.game.id %}">{{unlock.achievement.game.name}}</a></li>
    {% endfor %}
    </ul>

</p>
<p>
    <b>Achievement Lists</b> 
    {% if user.is_authenticated and participant = user and contest.upcoming %}
        <a href="{% url 'create_achievement_list' contest.id %}">(add)</a>
    {% endif %}
    <ul>
    {% for list in achievement_lists %}
	<li>{{ list.name }}
        {% if user.is_authenticated and participant = user %}
            <a href="{% url 'edit_achievement_list' contest_id=contest.id achievement_list_id=list.id %}">(edit)</a>
        {% endif %}
	    <ul>
	    {% for achievement in list.achievements.all %}
            <li>{{ achievement }}</li>
	    {% endfor %}
	    </ul>
	</li>
    {% endfor %}
    </ul>
</p>
{% endblock %}
