{% extends "gamequest/base.html" %}

{% block content %}

Don't see the achievement you want here? 
<a href="{% url 'add_achievement' %}?from_contest={{contest.id}}&from_list={{achievement_list.id}}">
    Create New Achievement
</a>
<form method="post" action="{% url 'edit_achievement_list_add' contest_id=contest.id achievement_list_id=achievement_list.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
<a href="{% url 'edit_achievement_list' contest_id=contest.id achievement_list_id=achievement_list.id %}">Cancel</a>

{% endblock %}
