{% extends "gamequest/base.html" %}

{% block content %}
<p>
    <b>Name:</b> {{ system.systemName }}
</p>
<p>
    <b>Description:</b>
    {{ system.systemDescription }}
</p>
<p>
    <b>Emulated:</b> {{ system.emulated }}
</p>
{% if system.emulated %}
<p>
    <b>Emulating:</b> <a href="{% url 'system' system.emulating.id %} ">{{ system.emulating.systemName }}</a>
</p>
{% endif %}
{% if available_emulators %}
<p>
    <b>Available Emulators:</b><br>
    <ul>
    {% for emulator in available_emulators.all %}
	<li><a href="{% url 'system' emulator.id %}">{{emulator.systemName}}</a></li>
    {% endfor %}
    </ul>
</p>
{% endif %}
{% endblock %}
